openapi: 3.1.0
info:
  version: 1.0.0
  title: "Agenteux.ai REST APIs"
  termsOfService: https://agenteux.ai/terms/
  contact:
    name: Contact our support
    email: support@agenteux.ai
    url: https://agenteux.ai/contact
  license:
    name: 'Commercial, Enterprise'
    url: 'https://agenteux.ai'
  description:
    $ref: ./info-description.md
tags:
  - $ref: tenants/tags/Accounts.yaml
  - $ref: oidc/tags/ClientApplications.yaml
  - $ref: ratelimits/tags/ApiKeys.yaml
  - $ref: ratelimits/tags/JwtVerifiers.yaml
  - $ref: ratelimits/tags/Policies.yaml
  - $ref: prompt/tags/Prompts.yaml
  - $ref: prompt/tags/PromptVersions.yaml
  - $ref: ratelimits/tags/RateLimiting.yaml
  - $ref: ratelimits/tags/RateLimitingMetrics.yaml
  - $ref: ratelimits/tags/RatePlans.yaml
  - $ref: schema/tags/Schemas.yaml
  - $ref: schema/tags/SchemaVersions.yaml
  - $ref: domain/tags/CustomDomains.yaml
  - $ref: domain/tags/Certificates.yaml
  - $ref: link/tags/Links.yaml
  - $ref: toggle/tags/Releases.yaml
  - $ref: toggle/tags/Features.yaml
  - $ref: toggle/tags/Stages.yaml
  - $ref: toggle/tags/Strategies.yaml
  - $ref: toggle/tags/Toggles.yaml
x-tagGroups:
  - name: "Agenteux: Prompt"
    tags:
      - Prompts
      - Prompt Versions
  - name: "Agenteux: Schema"
    tags:
      - Schemas
      - Schema Versions
  - name: "Agenteux: Domain"
    tags:
      - Custom Domains
      - Certificates
  - name: "Agenteux: Control"
    tags:
      - API Keys
      - JWT Verifiers
      - Policies
      - Rate Limiting
      - Rate-Limiting Metrics
      - Rate Plans
  - name: "Agenteux: Link"
    tags:
      - Links
  - name: "Agenteux: Toggle"
    tags:
      - Releases
      - Features
      - Stages
      - Strategies
      - Toggles

  - name: "Administration"
    tags:
      - Accounts
      - Client Applications

servers:
  - url: https://{organizationId}.agenteux.ai/api/v1
    variables:
      organizationId:
        default: sandbox
        description: >- 
          Your organization id or organization name. Note that it is more efficient to use the organization ID assigned
          to you rather than the organization name as the latter causes an extra lookup to find the ID and also has the
          potential to break if the organization name is changed.
paths:
  #Administration paths
  '/accounts':
    $ref: tenants/paths/accounts.yaml
  '/accounts/{accountId}':
    $ref: tenants/paths/accounts_{accountId}.yaml
  '/clients':
    $ref: oidc/paths/clients.yaml
  '/clients/{clientId}':
    $ref: oidc/paths/clients_{clientId}.yaml

  #Prompt Management paths
  '/prompts':
    $ref: 'prompt/paths/prompts.yaml'
  '/prompts/{promptId}':
    $ref: 'prompt/paths/prompts_{promptId}.yaml'
  '/prompts/{promptId}/versions':
    $ref: 'prompt/paths/prompts_{promptId}_versions.yaml'
  '/prompts/{promptId}/versions/{version}':
    $ref: 'prompt/paths/prompts_{promptId}_versions_{version}.yaml'
  '/prompts/{promptId}/versions/{version}/template':
    $ref: 'prompt/paths/prompts_{promptId}_versions_{version}_template.yaml'
  '/prompts/{promptId}/versions/{version}/variables':
    $ref: 'prompt/paths/prompts_{promptId}_versions_{version}_variables.yaml'

  #Schema Management paths
  '/schemas':
    $ref: 'schema/paths/schemas.yaml'
  '/schemas/{schemaId}':
    $ref: 'schema/paths/schemas_{schemaId}.yaml'
  '/schemas/{schemaId}/versions':
    $ref: 'schema/paths/schemas_{schemaId}_versions.yaml'
  '/schemas/{schemaId}/versions/{version}':
    $ref: 'schema/paths/schemas_{schemaId}_versions_{version}.yaml'
  '/schemas/{schemaId}/versions/{version}/raw':
    $ref: 'schema/paths/schemas_{schemaId}_versions_{version}_raw.yaml'

  #Custom Domain Management paths
  '/domains':
    $ref: 'domain/paths/domains.yaml'
  '/domains/{domainId}':
    $ref: 'domain/paths/domains_{domainId}.yaml'
#  '/domains/{domainId}/status':
#    $ref: 'domain/paths/domains_{domainId}_status.yaml'
#  '/domains/{domainId}/certificates':
#    $ref: 'domain/paths/domains_{domainId}_certificates.yaml'
#  '/domains/{domainId}/certificates/{certificateId}':
#    $ref: 'domain/paths/domains_{domainId}_certificates_{certificateId}.yaml'

  #Rate limiting and access control paths
  '/apikeys':
    $ref: ratelimits/paths/apikeys.yaml
  '/apikeys/{apikey}':
    $ref: ratelimits/paths/apikeys_{apikey}.yaml
  /jwtverifiers:
    $ref: ratelimits/paths/jwtverifiers.yaml
  '/jwtverifiers/{jwtVerifierId}':
    $ref: ratelimits/paths/jwtverifiers_{jwtVerifierId}.yaml
  '/limits':
    $ref: ratelimits/paths/limits.yaml
  '/metrics/{apikey}':
    $ref: ratelimits/paths/metrics_{apikey}.yaml
  '/policies':
    $ref: ratelimits/paths/policies.yaml
  '/policies/{policyId}':
    $ref: ratelimits/paths/policies_{policyId}.yaml
  '/rateplans':
    $ref: ratelimits/paths/rateplans.yaml
  '/rateplans/{rateplanId}':
    $ref: ratelimits/paths/rateplans_{rateplanId}.yaml
  '/rateplans/{rateplanId}/apikeys':
    $ref: ratelimits/paths/rateplans_{rateplanId}_apikeys.yaml

  #Link Management paths
  '/links':
    $ref: link/paths/links.yaml
  '/links/{alias}':
    $ref: link/paths/links_{alias}.yaml
  '/links/{alias}/status':
    $ref: link/paths/links_{alias}_status.yaml
  '/render/{alias}':
    $ref: link/paths/{alias}.yaml
  '/render/{alias}/qrcode':
    $ref: link/paths/{alias}_qrcode.yaml

  #Feature Toggle paths
  '/releases':
    $ref: toggle/paths/releases.yaml
  '/releases/{releaseId}':
    $ref: toggle/paths/releases_{releaseId}.yaml
  '/releases/{releaseId}/features':
    $ref: toggle/paths/releases_{releaseId}_features.yaml
  '/features':
    $ref: toggle/paths/features.yaml
  '/features/{featureId}':
    $ref: toggle/paths/features_{featureId}.yaml
  '/stages':
    $ref: toggle/paths/stages.yaml
  '/stages/{stageId}':
    $ref: toggle/paths/stages_{stageId}.yaml
  '/stages/{stageId}/features':
    $ref: toggle/paths/stages_{stageId}_features.yaml
  '/stages/{stageId}/features/{featureId}':
    $ref: toggle/paths/stages_{stageId}_features_{featureId}.yaml
  '/stages/{stageId}/features/{featureId}/enabled':
    $ref: toggle/paths/stages_{stageId}_features_{featureId}_enabled.yaml
  # '/stages/{stageId}/releases':
  #   $ref: toggle/paths/stages_{stageId}_releases.yaml
  # '/stages/{stageId}/releases/{releaseId}':
  #   $ref: toggle/paths/stages_{stageId}_releases_{releaseId}.yaml
  # '/stages/{stageId}/releases/{releaseId}/enabled':
  #   $ref: toggle/paths/stages_{stageId}_releases_{releaseId}_enabled.yaml
  '/strategies':
    $ref: toggle/paths/strategies.yaml
  '/strategies/{strategyId}':
    $ref: toggle/paths/strategies_{strategyId}.yaml
  '/toggles':
    $ref: toggle/paths/toggles.yaml
  '/toggles/{toggleId}':
    $ref: toggle/paths/toggles_{toggleId}.yaml
security:
  - OAuth2: []
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: >-
        Authorization header using the Bearer scheme. Example: Authorization:
        Bearer {token}
      flows:
        clientCredentials:
          tokenUrl: /token
          scopes:
            confidential_client: A customer's server-side programmatic client of the Agenteux APIs 
    ApiKey:
      type: apiKey
      description: >-
        Authorization header using the API key scheme. Example: Authorization:
        apikey {apikey}
      name: Authorization
      in: header
